body{
   text-align: center;  
    
}
p{
   border: 5px gray;
   

}

p{
    color: white;
}
h1{
    color: white;
}

h2{
    color: white;
}

a {
    color: white;
}


img{
    width: 150px;
    height: 150px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 2px solid red;
    
    transition: 1s;
}
img:hover{
    width: 100px;
    height: 100px;
    border-radius: 100%;
 
}